.wrapper {
  width: 100%;
  flex: 1 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: minmax(300px, 430px) 185px repeat(2, 200px);
  grid-gap: 20px;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(2, minmax(140px, 300px));
    grid-template-rows: min-content;
    justify-content: center;
    align-items: center;
  }

  .grid > :nth-child(1), :nth-child(2) {
    grid-column: 1 / -1;
  }
}
